mixin product-card(product)
	.col-md-3
		.card
			img.card-img-top(
			src=product.image
			alt=`Photo ${product.name}`)
			.card-body
				h5.card-title= product.name
				p.card-text= product.price
				a.btn.btn-primary(href="#") Посмотреть товар
